# slicing operation
#syntax : var[start:stop:step]

In [5]:
clg_name="sri ramachandra"#space is also included in index calculations
print(clg_name[::2])#it leaves the second char value and print

sirmcada

In [9]:
print(clg_name[4::])#it prints the n+1 (because it has index value 0)

ramachandra

In [11]:
print(clg_name[-12::])#reverse indexing(count from backside)

 ramachandra

In [17]:
print(clg_name[-5:-12:-1])

ahcamar

In [18]:
print(clg_name[::-1])#whole reverse

ardnahcamar irs

# string replacing

In [29]:
x="hellow world"
x=[2]="j"#we cant change the string value because(sting is imutable :cant change)

SyntaxError: cannot assign to literal (Temp/ipykernel_1144/584055672.py, line 2)

In [32]:
x="hellow world"
nx="j"+x[1:]#replacing with new variable "nx"
print(nx)

jellow world

# syntax for replacing
string.replace(old_substring,new_substring(count))

In [34]:
x="hellow world"
    #old string   new string
x.replace("hellow","hai")

'hai world'

In [49]:
para="in garden i found yellow bug on yellow plant"
                             #times
para1=para.replace("plant","flower",1)
print(para1)

in garden i found yellow bug on yellow flower

# spliting operation

In [37]:
a="red/green/blue/yellow"
a1=a.split('e')#condition or pattern
print(a1)

['r', 'd/gr', '', 'n/blu', '/y', 'llow']

In [39]:
a="red/green/blue/yellow"
a1=a.split('/')#condition or pattern
print(a1)

['red', 'green', 'blue', 'yellow']

# joining or conacatinating

In [42]:
b=["red","green","blue"]
#synatx=newvar='condition'.join(joing var)
b1='&'.join(b)
print(b1)

red&green&blue